[Unit]
Description=Spatch As A Service
After=network.target systemd-vconsole-setup.service

[Service]
ExecStart=/usr/sbin/saas -addr ":2020" -patchcache /var/cache/saas/patches -tarcache /var/cache/saas/tarballs
StandardInput=tty-force
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
